/* styles.css */
.whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 35px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp-button img {
    width: 30px;
    height: 30px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 50px;
    border: 3px solid #f1f1f1;
    z-index: 1001;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}
.form-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.form-container input[type=text], .form-container input[type=tel] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 10px 15px 10px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    border-radius: 5px;
}
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container input.valid {
    border-color: green;
}
.form-container input.invalid {
    border-color: red;
}
.form-container .btn {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: calc(100% - 20px);
    margin: 0 10px 10px 10px;
    opacity: 0.9;
    border-radius: 5px;
}
.form-container .btn:hover {
    opacity: 1;
}
.form-container h2 {
    margin: 0 10px 15px 10px;
    font-size: 17px;
    color: #333;
}
.form-container label {
    margin: 0 10px 5px 10px;
    font-size: 14px;
    color: #333;
}
.form-container .close-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container .close-btn:hover {
    background-color: darkred;
}